[submodule "l-filesToCKAN"]
	path = l-filesToCKAN
	url = https://github.com/OpenDataNode/UVPlugin-filesToCKAN
[submodule "l-rdfToCKAN"]
	path = l-rdfToCKAN
	url = https://github.com/OpenDataNode/UVPlugin-rdfToCKAN
[submodule "l-relationalDiffToCKAN"]
	path = l-relationalDiffToCKAN
	url = https://github.com/OpenDataNode/UVPlugin-relationalDiffToCKAN
[submodule "l-relationalToCKAN"]
	path = l-relationalToCKAN
	url = https://github.com/OpenDataNode/UVPlugin-relationalToCKAN
[submodule "l-rdfToVirtuosoAndCkan"]
	path = l-rdfToVirtuosoAndCkan
	url = https://github.com/OpenDataNode/UVPlugin-rdfToVirtuosoAndCkan.git
[submodule "e-relationalFromCKAN"]
	path = e-relationalFromCKAN
	url = https://github.com/OpenDataNode/UVPlugin-relationalFromCKAN.git
[submodule "e-filesFromCKAN"]
	path = e-filesFromCKAN
	url = https://github.com/OpenDataNode/UVPlugin-filesFromCKAN.git
