Package: odn-uv-plugins
Version: [[debian-package-version]]
Section: java
Priority: extra
Architecture: all
Maintainer: jmc@eea.sk
Depends: unifiedviews-plugins (>> 1.1), unifiedviews-plugins (<< 1.2)
Description: OpenDataNode UnifiedViews Plugins (DPUs).
