Package: odn-uv-plugins
Version: [[debian-package-version]]
Section: java
Priority: extra
Architecture: all
Maintainer: jmc@eea.sk
Depends: unifiedviews-webapp (>> 2.1), unifiedviews-webapp (<< 3)
Description: OpenDataNode UnifiedViews Plugins (DPUs).
