Package: odn-uv-plugins
Version: [[debian-package-version]]
Section: java
Priority: extra
Architecture: all
Maintainer: jmc@eea.sk
Depends: curl, unifiedviews-webapp (>> 2.2), unifiedviews-webapp (<< 3)
Conflicts: unifiedviews-plugins
Replaces: unifiedviews-plugins
Description: OpenDataNode UnifiedViews Plugins (DPUs).
